.more_info{
    margin-top: 70px;
  }

.more_info_title{
    font-family: Trebuchet MS;
  font-size: 32px;
  font-weight: 700;
    margin-bottom: 30px;
  }

.more_info_block{
    display: flex;
    justify-content: space-between;
  }

.more_info_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }