body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1eeea;
  width: 100%;
}
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  }
  *,
  *:before,
  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  :focus,
  :active {
  outline: none;
  }
  a:focus,
  a:active {
  outline: none;
  }
  
  .links{
    text-decoration: none;
    color: black;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main_page {
  background-color: #f1eeea;
  width: 100%;
}
.header_top__bg {
  width: 100%;
  background:#2A2A2A;
  padding: 15px 0;
}
.header_top {
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS";
  color: white;
}
.header_top_number {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Trebuchet MS;
font-size: 15px;
font-weight: 700;
}
.header_top_number:hover {
  color:#F9A43F
}
.header_top_number:hover .button_pop-up_my {
  color:#F9A43F
}
.header_top__blockInputBlock_out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 42, 0);
}

.button_pop-up_my{
  color: rgba(255, 255, 255, 1);
  background: rgba(42, 42, 42, 0);
  border: none;
  font-family: Trebuchet MS;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;

}
.button_pop-up_my:hover{
  color:#F9A43F;
  background: rgba(42, 42, 42, 0.01);
  border: none;
}

.header_top__blockInputBlock{
  position: relative;
}
.header_top__blockInput {
  width: 475px;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #FFF;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFF;
  display: flex;
  align-items: center;
}
.searchProductsBlock{
  overflow: hidden;
  box-shadow: 5px 6px 16px 0px rgba(42, 42, 42, 0.16);
  border-radius: 0 0 9px 9px;
  padding-top: 5px;
  width: 100%;  
  /* height: 500px; */
  position: absolute;
  top: 28px;
  color: #2A2A2A;
  background-color: #fff;
  z-index: 10000;
}
.searchProductsItem{
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(42, 42, 42, 0.12);
  padding: 10px;
}
.searchProductsItemNotFound{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.searchProductsImage{
  width: 70px;
  height: 70px;
}
.searchProductsTextBlock{
  margin-left: 20px;
}
.searchProductsName{
  color: #2A2A2A;
  text-decoration: none;
}
.searchProductsName:hover{
  color: #F9A43F;
}
.searchProductsPrice_P{
  color: #2A2A2A;
}
.searchProductsPrice{
  color: #F9A43F;
}
.header_top_input_button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.header_top_input {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  outline: none;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-weight: 400;
}
.header_top_icons {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header_top_icons_profile{
  color: #F2F2F2;
}
.header_top_icons_profile:hover {
  color:#F9A43F
}
.header_top_logo {
  width: 157px;
  height: 37px;
}
.header-menu {
  width: 100%;
  height: 52px;
  background: rgba(54, 54, 54, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #2A2A2A;
  font-family: "Trebuchet MS";
  font-size: 16px;
  font-weight: 700;
}
.header-menu-link {
  color:  #2A2A2A;
  font-family: "Trebuchet MS";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.header-menu-link:hover {
  color: #F9A43F;
}
.header-menu-burger {
  margin: 3px 12px 0 0;
}

.input-search {
  border-radius: 9px;
  border: 1px solid #F2F2F2;
  background: #FBFAFA;
  width: 475px;
  height: 38px;
  color: #929292;
  font-family: "Trebuchet MS";
  font-size: 12px;
  font-weight: 400;
  margin: 0 87px 0 33px;
}

.header-number {
  color: #FFF;
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: 700;
  margin: 0 62px 0 0;
}

.icon-number {
  margin: 0 8px 0 0;
}

.catalog-block {
  width: 1600px;
  display: flex;
}
.catalog-block-right {
  display: flex;
}
.catalog-block-bottom {
  height: 46px;
  background: #2A2A2A;;

}
 
.button-gradient {
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  line-height: 18.58px;  
  border: 2px solid #F9A43F;
  border-radius: 9px;
  /* background: #F9A43F; */
  color: #FFF;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: all 0.6s ease;
}
.button-gradient:hover {
  border: 2px solid #F9A43F;
  color: #F9A43F;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  transition: all 0.6s ease;
}

.button-white {
  background: none;
  border-radius: 9px;
  border: 2px solid #F9A43F;
  color: #F9A43F;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: all 0.6s ease;
}
.button-white:hover {
  border:2px solid #F9A43F;
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  color: #FFF;
  font-family: "Trebuchet MS";
  font-weight: 700;
  transition: all 0.6s ease;
}
.info_container {
  display: flex;
  justify-content: space-between;
  align-items: start;

  
}
.main_container{
  width: 1100px;
  /* max-width: 1100px; */
}
.main_container_bg{
  background-color: #f1eeea;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom_main_container{
  width: 1100px;
  /* max-width: 1100px; */
}
.bottom_container_bg{
  background:#2A2A2A;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 200px;
  background:#2A2A2A;
}



.info_left {
  flex-basis: 50%;
  font-family: Trebuchet MS;
}
.info_left__text {
padding-right: 15px;
margin-bottom: 20px;
}
.info_right {
  flex-basis: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;


}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}
.header_bottom {
  padding: 15px 0;
  width: 100%;
  background-color: #f1eeea;
   font-family: Trebuchet MS;
font-size: 16px;
font-weight: 700;



}
.content_page {
  margin-top: 150px;
}
.header_bottom_container {
  padding: 15px 0;
  width: 100%;
  /* background-color: #f1eeea; */
   font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;

}
.header_bottom_catalog {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
}
.header_bottom_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  
}
.main_page {
  margin-top: 120px;
  padding-top: 70px;
  /* position: relative; */
}

.header_bottom_catalog:hover {
  color: #F9A43F;
}
.header_bottom_nav_item:hover{
  color: #F9A43F;
}

.header_bottom_item_icons{
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: space-between;
}
.header_bottom_item_icons_inst{
  display: flex;
  align-items: center;
  opacity: 0.7;
  
}
.header_bottom_item_icons_vk{
  display: flex;
  align-items: center;
  opacity: 0.7;
  padding-bottom: 1px;
  
}
.header_bottom_item_icons_fb{
  display: flex;
  align-items: center;
  opacity: 0.7;
}
.header_bottom_item_icons_inst:hover{
  opacity: 1;
}
.header_bottom_item_icons_vk:hover{
  opacity: 1;
}
.header_bottom_item_icons_fb:hover{
  opacity: 1;
}
.main_catalog_h1 {
  font-family: Trebuchet MS;
font-size: 32px;
font-weight: 700;
margin-bottom: 30px;
}
.main_catalog_block {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.main_catalog_block_left {
  min-width: 530px;
position: relative;
border-radius: 20px;
overflow: hidden;
color: white;

}
.main_catalog_block_left:hover {
  color:#F9A43F
}
.main_catalog_block_left_text {
  padding: 10px 10px 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Trebuchet MS;
font-size: 18px;
font-weight: 700;
  background: linear-gradient(180deg, #2A2A2A 0%, #2A2A2A 100%);
}
.main_catalog_block_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 20px;
}
.main_catalog_block_right_top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 13px;
}
.main_catalog_block_right_bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}
.main_catalog_block_right_item {
  width: 255px;
  height: 175px;
  position: relative;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: 700;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-self: baseline;
}
.main_catalog_block_right_item:hover{
  color: #F9A43F;
}

.main_catalog_block_right_text {
  width: 100%;
  padding: 10px 10px 10px 20px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, #2A2A2A 0%, #2A2A2A 100%);

}
.main_catalog_block_right {
  color: white;
}

.main_catalog_block_right:hover {
  color: #F9A43F;
}

.block_info {
  margin-top: 50px;
}
.temporarily_buy{
  margin-top: 70px;
  width: 100%;
}

.card {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 255px;
  max-height: 450px;
  border-radius: 9px;
  background-color:rgba(255, 255, 255, 1);

  border: none;
}
.card:hover {
  /* box-shadow: 5px 6px 16px 10px rgba(42, 42, 42, 0.16); */
  box-shadow: 2px 2px 5px 0px rgba(42, 42, 42, 0.16);
}
.card_text {
  display: flex;
  align-items: center;
  min-height: 60px;
  height: 50px;
  font-family: Trebuchet MS;
font-size: 16px;
font-weight: 700;
text-align: center;
margin: 15px 0;
padding: 0 27px;
}
.card_text:hover{
  color: #F9A43F;
  cursor: pointer;
}
.card_price {
  padding: 0 30px;
  width: 100%;
  font-family: Trebuchet MS;
font-size: 21px;
font-weight: 700;
margin-bottom: 15px;
max-height: 30px;
}
.card_button {
  margin-bottom: 15px;
}
.card_data {
  width: 85%;
  font-family: Trebuchet MS;
  font-size: 11px;
  font-weight: 400;
  height: 18px;

  /* gap: 23px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_data_players {
  flex-basis: 33%;
  justify-content: center;
  height: 100%;
  font-size: 11px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3px;
}
.card_data_timer_players{
  max-width: 18px;
  max-height: 18px;
}
.card_data_timer {
  flex-basis: 33%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 3px;
}
.card_data_timer_img{
  max-width: 11px;
  max-height: 13px;
}
.card_data_ages{
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  
  align-items: center;
}
.temporarily_content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.temporarily_h2_block{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temporarily_h2 {
  display: flex;
  justify-content: start;
  width: 1100px;

  font-family: Trebuchet MS;
font-size: 32px;
font-weight: 700;
margin-bottom: 30px;
}
.upcoming_events {
  margin-top: 70px;
}
.upcoming_events_h2{
  font-family: Trebuchet MS;
font-size: 32px;
font-weight: 700;
  margin-bottom: 30px;
}
.more_info{
  margin-top: 70px;
}
.more_info_title{
  font-family: Trebuchet MS;
font-size: 32px;
font-weight: 700;
  margin-bottom: 30px;
}


.upcoming_events_block_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.upcoming_events_block {
  display: flex;
  justify-content: space-between;
}

.upcoming_events_left {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.upcoming_events_bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  bottom: 0;
  background: rgba(42, 42, 42, 0.5);
  color: #FFF;
  padding: 25px;
  transition: all 0.5s ease;
}

.upcoming_events_left:hover .upcoming_events_bottom {
  height: 100%;
  transition: all 0.5s ease;
}
.upcoming_events_bottom_block {
  display: flex;
  justify-content: space-between;
}
.upcoming_events_bottom_block_h2{
color: rgba(249, 164, 63, 1);
font-family: Trebuchet MS;
font-size: 19px;
font-weight: 700;
}
.fullText_upcoming_events{
  margin-top: 30px;
}
.upcoming_events_bottom_block_span{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.upcoming_events_bottom_text{
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 15px;
}


.more_info_block{
  display: flex;
  justify-content: space-between;
}
.more_info_card{
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 6px 16px 0px rgba(42, 42, 42, 0.16);
}
.more_info_card:hover .more_info_card_text_title{
  color: #F9A43F;
}
.more_info_card_text{
  position: absolute;
  bottom: 0;
  background: rgba(42, 42, 42, 0.7);
  margin-bottom: 3px;
  padding: 15px;
}
.more_info_card_text_title{
  font-family: Trebuchet MS;
  font-size: 19px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);

}
.more_info_card_text_span{
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);

}
.more_info_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.footer{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
background: rgba(42, 42, 42, 1);
bottom: 0;
left: 0;
right: 0;


}
.footer_top{
  padding: 80px 0;
  display: flex;

  /* max-width: 1100px; */
  justify-content: space-between;
  align-items: start;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.footer_top_title{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.footer_top_title:hover{
  color: #F9A43F;
}
.footer_top_part_2_categories{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.footer_top_part_2_categories:hover{
  text-decoration: underline;
  color: #F9A43F;
}

.footer_top_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
}

.footer_top_part_1{
  display: flex;
  flex-direction: column;
  align-items: start;
  
}

.footer_top_part_1_logo{
  width: 152px;
  height: 36px;
}
.footer_top_part_1_text{
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.footer_top_part_2{
  display: flex;
  flex-direction: column;
align-items: center;
}
.footer_top_part_2_title{
  font-family: Trebuchet MS;
  font-size: 19px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.footer_top_part_2_list{
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);

}
.footer_top_part_3_list{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer_top_part_3{
  font-family: Trebuchet MS;
  font-size: 19px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.footer_top_part_4_list{
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 19px;
  font-weight: 700;
}
.footer_top_part_5{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer_top_part_5_button{
  width: 220px;
  margin-bottom: 20px;
  /* padding: 15px 50px; */
  padding: 15px 0;
  border: 1px solid rgba(249, 164, 63, 1);
  border-radius: 9px;
  background-color: rgba(42, 42, 42, 1);
  color:rgba(249, 164, 63, 1) ;
  font-size: 19px;
  font-weight: 700;
}
.footer_top_part_5_list{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer_bottom{
  display: flex;
  justify-content: center;
  width: 100%;
  border-top:1px solid rgba(255, 255, 255, 0.25) ;
}
.footer_bottom_block{
  padding: 30px 0;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.44);
  display: flex;
  justify-content: space-between;
}
.footer_bottom_item{
  flex-basis: 33%;
  display: flex;
}
.footer_bottom_left{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer_bottom_middle{
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer_bottom_icons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_bottom_right{
  flex-direction: column;
  align-items: end;
}
.footer_line{
  width: 100vw;
  height: 3px;
}
.derection{
  text-decoration-line: underline;
  cursor: pointer;
}
.derection:hover{
  color: rgba(255, 255, 255, 1);
}
.pop-up_catalog{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 3000;
  display: flex;
  align-items: start;
}
.pop-up_catalog_content{
  display: flex;
  
}

html{
  overflow-y: auto;
}
.pop-up_catalog_active{
  overflow-y: hidden;
}
.w340{
  width: 340px;
}
.pop-up_container{
  width: 100%;
  margin: 0 200px;
  margin-top: 66px;
  background: rgba(255, 251, 248, 1);
  box-shadow: 5px 6px 15px 0px rgba(251, 121, 27, 0.63);
  
}

.pop-up_catalog_left_categories{
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  cursor: pointer;
}

.pop-up_catalog_left_categories:hover .links{
  color:rgba(249, 164, 63, 1) ;
}
.pop-up_modal_active{
  z-index: 5000;
}
.pop-ups_catalog_left{
  font-family: Trebuchet MS;
font-size: 16px;
font-weight: 700;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgba(42, 42, 42, 0.26);
}
.pop-up_catalog_container{
  padding:  15px 25px;

}
.card_sale{
  padding-top: 1px;
  font-family: Open Sans;
font-size: 16px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
  position: absolute;
  width: 69px;
height: 29px;
top: 10px;
right: 10px;
gap: 0px;
border-radius: 14px;
opacity: 0px;
background: rgba(249, 164, 63, 1);
text-align: center;
}
.card_sale_price_block{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card_sale_price{
  position: relative;
}
.card_sale_price:before {
	content: "";
	border-bottom: 3px solid black;
	position: absolute;
	width: 100%;
	height: 50%;
	transform: rotate(-12deg);
}
.pop-up_catalog_container_border{
  border-bottom: 2px solid rgba(42, 42, 42, 0.26);
  display: flex;
  align-items: center;
  gap: 15px;
}
.pop-up_catalog_closed{
  cursor: pointer;
}
.pop-up_catalog_left_bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pop-up_catalog_left_categories_link{
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
.pop-up_catalog_left_bottom span{
  margin-bottom: 10px;
}
.first_title{
  font-family: Trebuchet MS;
font-size: 32px;
font-weight: 700;
  margin-bottom: 30px;
}
.catalog_page{
  background-color: #f1eeea;
  margin-top: 57px;
  width: 100%;
}
.catalog_page_block{
  width: 100%;
  display: flex;
  align-items: start;
}

.card_image{
  cursor: pointer;
  margin-bottom: 10px;
  width: 193px;
  height: 168px;
}
.pop-ups_catalog_right{
  width: 100%;
}
.pop-ups_catalog_right_container{
  height: 100%;
  padding: 60px 30px;
}
.pop-ups_catalog_right_block{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.pop-ups_catalog_right_item{
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 700;
  flex-basis: 33.3%;
  margin-bottom: 20px;
  cursor: pointer;

}
.pop-ups_catalog_right_item:hover{
  color:rgba(249, 164, 63, 1) ;
}
.pop-up_catalog_left_top_link:hover {
  color:rgba(249, 164, 63, 1) ;
}

.header_top_container_bg{
  width: 100%;
  background:#2A2A2A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container_top{
  width: 1100px;
}
.header_bottom_container_bg{
  width: 100%;
  background-color: #f1eeea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 16px 0px rgba(42, 42, 42, 0.16);
}
.header_container_bottom{
  width: 1100px;
}

.header_top_icons_profile_basket{
  position: relative;
}
.circle_on_basket{
  position: absolute;
  width: 16px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  top: -8px;
  right: 0;
  background: rgba(249, 164, 63, 1);
  border-radius: 50%;

  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 0 3px 1px;
}
.catalog_page_banner{
  margin-top: 100px;
  width: 100%;
  position: relative;

  

}
.catalog_page_banner_title{
  font-family: Trebuchet MS;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.54px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.catalog_page_banner_text{
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.58px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}


.catalog_page_banner_image{
  width: 100%;
}
.catalog_page_banner_absolute{
  position: absolute;
  top: 40%;
  left: 14%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.my_swiper_slide{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
  border: none;
}
.my_swiper_slide_w100{
  background: #fff;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 9px;
}
.my_swiper_slide_container{
  width: 367px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 50px;
  padding: 30px 0;
}
.swiper-button-prev, .swiper-button-next{
  position: absolute;
  color:black;
  cursor: pointer;
  font-weight: 800;
}

/* :root{
  --swiper-theme-color: black;
} */


/* .swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
} */
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper_slide_100px{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
}


.swiper_slide_85px{
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 9px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
.swiper_slide_85px_active{
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgb(53, 50, 50);
  border-radius: 9px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}

.swiper_slide_block{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1eeea;
}

.vertical_prev{
  position: absolute;
  top: 0;
  left: 36%;
}
.vertical_next{
  position: absolute;
  bottom: 0;
  left: 36%;
}
.relative{
  width: 650px;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
  margin-right: 20px;
}
.goris_slider_container{
  height: 100%;
  width: 550px;
  background-color: #f1eeea;
}

.gorisantal_prev{
  background: rgba(42, 42, 42, 0);
  position: absolute;
  left: 20px;
  top: 45%;
  z-index: 1000;
}
.gorisantal_next{
  background: rgba(42, 42, 42, 0);
  position: absolute;
  right: 20px;
  top: 45%;
  z-index: 1000;

}

.vertical_slider_container{
  width: 85px;
  height: 320px;
  background-color: #f1eeea;
}
.vertical_slider_mainContainer{
  position: relative;
  width: 85px;
  height: 397px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
}

.slider_mainContainer_products{
  position: relative;
  width: 1200px;
  background-color: #f1eeea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_container_products{
  width: 1100px;
}
.products_slider_prev{
  position: absolute;
  left: 0;
  top: 47%;
  z-index: 1000;
}
.products_slider_next{
  position: absolute;
  right: 0;
  top: 47%;
  z-index: 1000;
}
.swiper_slide_255px{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}


.mainContent_or_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.product_catalog_loaderBlock{
  width: 100%;
  display: flex;
  justify-content: center;
}