body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1eeea;
  width: 100%;
}
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  }
  *,
  *:before,
  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  :focus,
  :active {
  outline: none;
  }
  a:focus,
  a:active {
  outline: none;
  }
  
  .links{
    text-decoration: none;
    color: black;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header_top__bg {
  width: 100%;
  background:#2A2A2A;
  padding: 15px 0;
}


.button_pop-up_my{
  color: rgba(255, 255, 255, 1);
  background: rgba(42, 42, 42, 0);
  border: none;
  font-family: Trebuchet MS;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;

}
.button_pop-up_my:hover{
  color:#F9A43F;
  background: rgba(42, 42, 42, 0.01);
  border: none;
}

.header_top_icons_profile{
  color: #F2F2F2;
}
.header_top_icons_profile:hover {
  color:#F9A43F
}

.header-menu {
  width: 100%;
  height: 52px;
  background: rgba(54, 54, 54, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #2A2A2A;
  font-family: "Trebuchet MS";
  font-size: 16px;
  font-weight: 700;
}
.header-menu-link {
  color:  #2A2A2A;
  font-family: "Trebuchet MS";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.header-menu-link:hover {
  color: #F9A43F;
}
.header-menu-burger {
  margin: 3px 12px 0 0;
}

.input-search {
  border-radius: 9px;
  border: 1px solid #F2F2F2;
  background: #FBFAFA;
  width: 475px;
  height: 38px;
  color: #929292;
  font-family: "Trebuchet MS";
  font-size: 12px;
  font-weight: 400;
  margin: 0 87px 0 33px;
}

.header-number {
  color: #FFF;
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: 700;
  margin: 0 62px 0 0;
}

.icon-number {
  margin: 0 8px 0 0;
}

.catalog-block {
  width: 1600px;
  display: flex;
}
.catalog-block-right {
  display: flex;
}
.catalog-block-bottom {
  height: 46px;
  background: #2A2A2A;;

}
 
.button-gradient {
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  line-height: 18.58px;  
  border: 2px solid #F9A43F;
  border-radius: 9px;
  color: #FFF;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: all 0.6s ease;
}
.button-gradient:hover {
  border: 2px solid #F9A43F;
  color: #F9A43F;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  transition: all 0.6s ease;
}

.button-white {
  background: none;
  border-radius: 9px;
  border: 2px solid #F9A43F;
  color: #F9A43F;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: all 0.6s ease;
}
.button-white:hover {
  border:2px solid #F9A43F;
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  color: #FFF;
  font-family: "Trebuchet MS";
  font-weight: 700;
  transition: all 0.6s ease;
}

.main_container{
  width: 1100px;
}
.main_container_bg{
  background-color: #f1eeea;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom_main_container{
  width: 1100px;
}
.bottom_container_bg{
  background:#2A2A2A;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 200px;
  background:#2A2A2A;
}


.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}
.header_bottom {
  padding: 15px 0;
  width: 100%;
  background-color: #f1eeea;
   font-family: Trebuchet MS;
font-size: 16px;
font-weight: 700;



}
.content_page {
  margin-top: 150px;
}

.more_info_card{
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 6px 16px 0px rgba(42, 42, 42, 0.16);
}
.more_info_card:hover .more_info_card_text_title{
  color: #F9A43F;
}
.more_info_card_text{
  position: absolute;
  bottom: 0;
  background: rgba(42, 42, 42, 0.7);
  margin-bottom: 3px;
  padding: 15px;
}
.more_info_card_text_title{
  font-family: Trebuchet MS;
  font-size: 19px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);

}
.more_info_card_text_span{
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);

}

html{
  overflow-y: auto;
}

.w340{
  width: 340px;
}

.pop-up_modal_active{
  z-index: 5000;
}

.header_top_container_bg{
  width: 100%;
  background:#2A2A2A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container_top{
  width: 1100px;
}
.header_bottom_container_bg{
  width: 100%;
  background-color: #f1eeea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 16px 0px rgba(42, 42, 42, 0.16);
}
.header_container_bottom{
  width: 1100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.my_swiper_slide{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
  border: none;
}
.my_swiper_slide_w100{
  background: #fff;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 9px;
}
.my_swiper_slide_container{
  width: 367px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 50px;
  padding: 30px 0;
}
.swiper-button-prev, .swiper-button-next{
  position: absolute;
  color:black;
  cursor: pointer;
  font-weight: 800;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper_slide_100px{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
}


.swiper_slide_85px{
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 9px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
.swiper_slide_85px_active{
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgb(53, 50, 50);
  border-radius: 9px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}

.swiper_slide_block{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1eeea;
}

.vertical_prev{
  position: absolute;
  top: 0;
  left: 36%;
}
.vertical_next{
  position: absolute;
  bottom: 0;
  left: 36%;
}
.relative{
  width: 650px;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
  margin-right: 20px;
}
.goris_slider_container{
  height: 100%;
  width: 550px;
  background-color: #f1eeea;
}

.gorisantal_prev{
  background: rgba(42, 42, 42, 0);
  position: absolute;
  left: 20px;
  top: 45%;
  z-index: 1000;
}
.gorisantal_next{
  background: rgba(42, 42, 42, 0);
  position: absolute;
  right: 20px;
  top: 45%;
  z-index: 1000;

}

.vertical_slider_container{
  width: 85px;
  height: 320px;
  background-color: #f1eeea;
}
.vertical_slider_mainContainer{
  position: relative;
  width: 85px;
  height: 397px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eeea;
}

.slider_mainContainer_products{
  position: relative;
  width: 1200px;
  background-color: #f1eeea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_container_products{
  width: 1100px;
}
.products_slider_prev{
  position: absolute;
  left: 0;
  top: 47%;
  z-index: 1000;
}
.products_slider_next{
  position: absolute;
  right: 0;
  top: 47%;
  z-index: 1000;
}
.swiper_slide_255px{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}


.mainContent_or_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.product_catalog_loaderBlock{
  width: 100%;
  display: flex;
  justify-content: center;
}


.slider_oneImg{
  background: rgba(255, 255, 255, 1);
  width: 530px;
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(217, 217, 217, 0.39);
  border-radius: 9px;
}

.slider_oneImg_img{
  width: 430px;
  height: 355px;
}